<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>980989037596-qtuple88819pdhl0tk8sshj2va28tump.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.980989037596-qtuple88819pdhl0tk8sshj2va28tump</string>
	<key>API_KEY</key>
	<string>AIzaSyCA2AYzcIBHr7OS2qYlO40b-Z3gR6tScgw</string>
	<key>GCM_SENDER_ID</key>
	<string>980989037596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dangsal.MessengerApp</string>
	<key>PROJECT_ID</key>
	<string>messenger-95867</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-95867.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:980989037596:ios:5179167aa081e68fef23d9</string>
</dict>
</plist>